@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=latin-ext');
@import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css');
@import './prism';

$baseHighlight: #00897b;
$baseBackground: #f0f0f0;
$baseForeground: #333333;

$darkHighlight: #00796b;
$darkBackground: #222222;
$darkForeground: #e0e0e0;

@import './main';
