body, input, select {
    font-family: "Open Sans", sans-serif;
}

b,
strong,
.toast .toast-action,
.chip,
.table-of-contents a.active,
.sidenav li > a,
.sidenav .subheader,
.sidenav .user-view .name,
.carousel.carousel-slider .carousel-item h2,
.datepicker-date-display,
.datepicker-date-display .date-text {
    font-weight: 600;
}

code[class*="language-"], pre[class*="language-"] {
    font-family: "mononoki Nerd Font", "mononoki", monospace;
    font-size: 10pt;
}

nav {
    .nav-wrapper {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .sidenav-toggle {
        padding: 0 20px;
        margin-left: -20px;
        position: absolute;
        bottom: 0;
    }

    .sidenav-toggle .close-icon {
        display: none;
    }

    ul li:last-child {
        margin-right: -20px;
    }

    .brand-logo.left {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 374px;
    }

    .brand-logo.left div {
        position: absolute;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

.sidenav-overlay {
    top: 64px;
}

.sidenav {
    top: 64px;
    width: 248px;
}

.tabs {
    .tab a:focus, .tab a:focus.active {
        background-color: rgba(0, 137, 123, 0.1);
    }

    .indicator {
        background-color: #00897b;
    }
}

label.label-icon.right {
    left: auto;
    right: 0;
}

.container {
    max-width: 1280px;
    width: 100%;
}

.main.container {
    margin-top: 24px;
}

#right-col {
    padding: 0 0 0 0.75rem;
}

#left-col {
    width: 100%;
    max-width: 1280px;
    position: absolute;

    #left-col-wrapper {
        margin-right: calc(75% + 1.5rem);
    }

    .nav {
        margin-top: 24px;
    }

    .nav li {
        height: 48px;
        line-height: 48px;
        font-size: 14px;
        font-weight: 600;
    }

    .nav li > a {
        color: rgba(0, 0, 0, 0.87);
        display: block;
        padding: 0 32px;
    }

    .nav li > a > i {
        float: left;
        height: 48px;
        line-height: 48px;
        margin: 0 32px 0 0;
        width: 24px;
        color: rgba(0, 0, 0, 0.54);
    }
}

footer {
    .footer-copyright .row {
        margin-bottom: 0;
    }
}

.card {
    margin: 0 0 1.5rem 0;

    &.search:not(.active) {
        box-shadow: none;
        background: none;
    }
}

.card-content {
    &.search {
        padding: 5px 32px;

        .input-field {
            margin: 0;

            input {
                padding-right: 28px;
                box-sizing: border-box;
            }
        }

        #close-search {
            position: absolute;
            top: 0;
            right: 0;
            color: #777;
            display: none;
        }
    }

    .markdown {
        ul>li, ul {
            list-style-type: disc;
        }

        ul, ol {
            padding-left: 28px;
        }

        p {
            margin-top: 1em
        }
    }
}

.card.search-result {
    display: flex;
    align-items: stretch;

    .search-area {
        flex: 0 0 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #00897b;
    }

    .material-icons {
        font-size: 24px;
        color: #fff;
    }

    .search-text {
        flex: 1 1 0;
        display: block;
        padding: 8px;
        overflow: hidden;
        text-overflow: ellipsis;

        h6 {
            margin-top: 0;
        }

        a {
            white-space: nowrap;
        }
    }
}

header nav {
    overflow: hidden;
    height: 640px;
    position: relative;
}

header .logo-wrapper div {
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

#header-background-icon {
    bottom: 334px;
    left: calc(50% - 41px);
    width: 83px;
    height: 86px;
    background-image: url('/images/icon.svg');
}

#header-background-modules {
    bottom: 290px;
    left: calc(50% - 93px);
    width: 187px;
    height: 172px;
    background-image: url('/images/modules.svg');
}

#header-background-name {
    bottom: 196px;
    left: calc(50% - 93px);
    width: 187px;
    height: 67px;
    background-image: url('/images/name.svg');
}

#header-background-subtitle {
    bottom: 170px;
    left: calc(50% - 93px);
    width: 187px;
    height: 20px;
    background-image: url('/images/subtitle.svg');
}

header ul {
    position: relative;
    top: calc(640px - 64px);
}

.navbar-fixed {
    position: absolute;
    top: 0px;
    display: none;
}

#logo-icon {
    bottom: calc(50% - 13px);
    left: 16px;
    height: 26px;
    width: 25px;
    background-image: url('/images/icon.svg');
}

#logo-name {
    bottom: calc(50% - 13px);
    left: 56px;
    height: 26px;
    width: 73px;
    background-image: url('/images/name.svg');
}

#logo-subtitle {
    bottom: 13px;
    left: 148px;
    height: 20px;
    width: 187px;
    background-image: url('/images/subtitle.svg');
}

.user-status .avatar {
    display: block;
    float: left;
    height: 24px;
    width: 24px;
    margin: 20px 15px 20px 0;
    border-radius: 12px;
}

.btn-flat.btn-small:hover {
    background: inherit;
}

.modal .modal-footer {
    padding-right: 10px;
}

@media only screen and (min-width: 993px) {
    .modal {
        min-width: 794px;
        max-width: 900px;
    }
}

@media only screen and (max-width: 992px) {
    nav .brand-logo.left {
        left: 64px;
    }

    #logo-icon {
        left: 4px;
    }

    #logo-name {
        left: 44px;
    }

    #logo-subtitle {
        left: 136px;
    }

    #right-col {
        padding: 0;
    }

    .main.container {
        margin-top: 8px;
    }
}

@media only screen and (max-width: 600px) {
    nav .brand-logo.left {
        width: 140px;
    }

    #logo-subtitle {
        display: none;
    }

    nav ul li.icon a {
        height: 56px;
        width: 64px;
        padding: 0 20px
    }

    .user-status .avatar {
        margin: 16px 0;
    }

    .sidenav-overlay {
        top: 56px;
    }

    .sidenav {
        top: 56px;
    }

    nav .icon-text {
        display: none;
    }

    header ul {
        top: calc(640px - 56px);
    }

    .card.search-result .search-area {
        flex-basis: 48px;
    }
}
